{% extends "base.html" %}

{% block content %}
<form method="POST" action="" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="my-4">
        {{ form.document.label }}<br/>{{ form.document() }}<br/>
        {% for error in form.document.errors %}
            <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
    </div>
    <div class="my-4">
        {{ form.character.label }}<br/>{{ form.character() }}<br/>
        {% for error in form.character.errors %}
            <div style="color: red;">[{{ error }}]</div>
        {% endfor %}
    </div>
    <div>{{ form.submit() }}</div>
</form>
{% if plot1 %}
    <div class="my-4">
        <img src="{{ url_for('static', filename='images/sentiment_analysis_plot1.png') }}" alt="Sentiment Analysis Plot" style="width: 75%;">
    </div>
{% endif %}
{% endblock %}
