{% extends "base.html" %}

{% block content %}
<div class="center-container" style="margin-top: 30px">
    <div class="form-container">
        <form method="POST" action="" novalidate enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="form-group d-flex flex-column align-items-center">{{ form.document.label(class="form-label") }}</div>{{ form.document(class="form-control") }}<br/>
                {% for error in form.document.errors %}
                    <div class="error-message">[{{ error }}]</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <div class="form-group d-flex flex-column align-items-center">{{ form.character.label(class="form-label") }}</div>{{ form.character(class="form-control") }}<br/>
                {% for error in form.character.errors %}
                    <div class="error-message">[{{ error }}]</div>
                {% endfor %}
            </div>
            <div class="form-group d-flex justify-content-center"> <!-- Apply flexbox properties -->
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </div>
        </form>
    </div>
</div>
<div class="image-container">
    {% if plot1 %}
        <div class="my-4">
            <img src="{{ url_for('static', filename='images/sentiment_analysis_plot1.png') }}" alt="Sentiment Analysis Plot" class="analysis-image" style="width: 75%;">
        </div>
    {% endif %}
    {% if plot2 %}
        <div class="my-4">
            <img src="{{ url_for('static', filename='images/sentiment_valence_plot.png') }}" alt="Sentiment Valence Plot" class="analysis-image" style="width: 75%;">
        </div>
    {% endif %}
</div>
{% endblock %}